---
import type {SuperNote} from 'lib/utils/types';
import NoteTag from '~/components/note/note-tag.astro';
import {getNoteEntry} from '~/utils/note.ts';
import {noteToTags} from '~/utils/note-metadata.ts';

interface Props {
	note: SuperNote
}

const {note} = Astro.props;
const {route, title} = note;
const tags = noteToTags(note.data);
---

<article>
	<ul class='parents cluster' role='list'>
		{
			note.data.up?.map(async (parent, index) => {
				const a = await getNoteEntry(parent);
				if (!a) {
					return null;
				}

				return <>
					<li>{a.title}</li>
					{index + 1 !== note.data.up?.length && <span aria-hidden='true'>⋅</span>}
				</>;
			})
		}
	</ul>
	<p>
		<a href={route}>
			{title}
		</a>
	</p>
	<ul class='note-tags cluster' aria-label='metadata' role='list'>
		{
			tags.map(tag => (
				<li>
					<NoteTag {...tag} />
				</li>
			))
		}
	</ul>
</article>

<style>
	article {
		padding-inline-start: var(--space-xs);
		border-inline-start: 2px solid var(--accent);
		color: var(--text-muted);
	}
	.note-tags {
		--cluster-gap: var(--space-xs);
	}
	.parents {
		--cluster-gap: var(--space-2xs);
		font-size: var(--text-caption);
		color: var(--color-tertiary);
	}
	p {
		line-height: var(--leading-item);
	}
</style>
