---
import SectionHeading from '../emphasis/section-heading.astro';
import type {SuperNote} from 'lib/utils/types';
import NoteCard from '~/components/note/note-card.astro';
import NoteProseItem from '~/components/note/note-prose-item.astro';

interface Props {
	prelabel?: string;
	headingAs?: 'h2' | 'h3';
	description: string;
	notes: SuperNote[];
	variant?: 'card' | 'prose';
	max?: number;
	showDate?: 'published' | 'modified';
	isSubSection?: boolean;
}

const {
	prelabel,
	headingAs = 'h2',
	description,
	notes,
	variant = 'card',
	max,
	showDate,
	isSubSection = false,
} = Astro.props;

const displayNotes = max ? notes.slice(0, max) : notes;

const isProse = variant === 'prose';
---

{displayNotes.length > 0 && (
	<section class:list={['notes-section flow', isProse && 'prose', !isSubSection && 'wrapper region']}>
		<SectionHeading as={headingAs} {prelabel}>{description}</SectionHeading>
		<ul class:list={[!isProse && 'flow-m']} {...(!isProse && {role: 'list'})}>
			{
				displayNotes.map(note => (
					<li>
						{isProse
							? <NoteProseItem {note} {showDate} />
							: <NoteCard {note} />
						}
					</li>
				))
			}
		</ul>
		<slot />
	</section>
)}

<style>
	.notes-section {
		--flow-space: var(--space-xl);
		--region-space: var(--space-xl);
	}
</style>
