---
import NoteLayout from "~/components/layout/NoteLayout/NoteLayout.astro";

const DYNAMIC_TOKENS_BASE = { bg: 3, ui: 3, fg: 4, ax: 4 };

const DYNAMIC_TOKENS = Object.entries(DYNAMIC_TOKENS_BASE).map(([key, max]) =>
  [...Array(max).keys()].map((n) => key + (n + 1))
);

const title = "Color Tokens Style Test";
---

<NoteLayout title={title}>
  <h1>{title}</h1>
  <h2>Base tokens</h2>
  <ul class="norm">
    {
      DYNAMIC_TOKENS.map((tokenGroup, index) =>
        tokenGroup.map((token) => (
          <li style={{ gridRow: index + 1 }}>
            <span
              style={{
                backgroundColor: `var(--${token})`,
                // borderColor: `color-contrast(var(--${t}) vs tan, sienna, #d2691e)`, // no support yet lol
              }}
            />
            <span><code>{token}</code></span>
          </li>
        ))
      )
    }
  </ul>
</NoteLayout>

<style>
  ul {
    display: grid;
    gap: var(--size-relative-6);
    @media (width < 80ch) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  li {
    display: flex;
    align-items: center;
    gap: var(--size-relative-6);
  }
  span {
    display: inline-block;
    height: 3rem;
    aspect-ratio: 1 / 1;
    /* border-width: 2px; */
    border-radius: 100%;
  }
</style>
