---
import Icon from "astro-iconify";
import { getCollection } from "astro:content";
import TagWIcon from "~/components/styled/polym/TagWIcon.astro";
import ProjectCard from "./ProjectCard.astro";
import Button from "~/components/primitive/Button.astro";
import LINKS from "~/data/links";

const projects = (await getCollection("project"))
  .sort((a, b) => a.data.sequence.valueOf() - b.data.sequence.valueOf())
  .filter((p) => !p.data.hidden);

const { GITHUB } = LINKS;
---

<section class="region flow-xl" id="projects">
  <TagWIcon as="h2">
    <Icon name="lucide:atom" />
    {" "}<span class="text-faded">/</span> projects
  </TagWIcon>
  <div class="projects flow-xl">
    {projects.map((p) => <ProjectCard project={p} />)}
  </div>
  <div class="cta | surface-alt flow-sm">
    <TagWIcon as="p">
      <Icon name="lucide:atom" />
      <b>Wanna see my other projects?</b>
    </TagWIcon>
    <div>
      <Button as="a" href={GITHUB.href} theme="brand">
        <Icon name={GITHUB.icon} />GitHub profile
      </Button>
      <Button as="a" href=`${GITHUB.href}?tab=repositories`>
        <Icon name={GITHUB.icon} />all my repositories
      </Button>
    </div>
  </div>
</section>

<style>
  .cta {
    padding: var(--space-m);

    div {
      display: flex;
      column-gap: var(--space-s);
      row-gap: var(--space-xs);
      flex-wrap: wrap;
    }
  }
</style>
