---
import Icon from "astro-iconify";
import { getCollection } from "astro:content";
import Button from "~/components/styled/polym/Button.astro";
import TagWIcon from "~/components/styled/polym/TagWIcon.astro";
import { SOCIALS } from "~/data/links";
import ProjectCard from "./ProjectCard.astro";

const projects = (await getCollection("project"))
  .sort((a, b) => a.data.sequence.valueOf() - b.data.sequence.valueOf())
  .filter((p) => !p.data.hidden);

const { GITHUB } = SOCIALS;
---

<section class="region full linew-wide flow-xl" id="projects">
  <TagWIcon as="h2" iconName="lucide:atom">
    {" "}<span class="text-faded">#</span> projects
  </TagWIcon>
  <div class="projects flow-xl">
    {projects.map((p) => <ProjectCard project={p} />)}
  </div>
  <div class="cta | surface-alt flow-sm">
    <TagWIcon as="p" iconName="lucide:atom">
      <b>There's a lot more where that came from!</b>
    </TagWIcon>
    <div>
      <Button as="a" href={GITHUB.href} variant="brand">
        <Icon name={GITHUB.icon} />GitHub profile
      </Button>
      <Button as="a" href=`${GITHUB.href}?tab=repositories`>
        <Icon name={GITHUB.icon} />Caleb's repos
      </Button>
    </div>
  </div>
</section>

<style>
  section {
    overflow: hidden;
    display: grid;
    grid-template-columns: subgrid;
  }
  .cta {
    padding: var(--space-m);
    border-radius: var(--radius-3);

    div {
      display: flex;
      column-gap: var(--space-s);
      row-gap: var(--space-xs);
      flex-wrap: wrap;
    }
  }
  .projects {
    display: grid;
    /* grid-template-columns: subgrid; */
    /* grid-column-start: wide-start; */
    grid-column-end: max-end;
  }
</style>
