---
import SITE from "~/data/site";
import faviconUrl from "/src/assets/favicon/favicon.ico";
import faviconAppleTouchUrl from "/src/assets/favicon/apple-touch-icon.png";
import favicon32Url from "/src/assets/favicon/favicon-32x32.png";
import favicon16Url from "/src/assets/favicon/favicon-16x16.png";
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";

export type HeadProps = {
  description?: string;
  title?: string | null;
};

const { title: propsTitle, description: propsDescription } = Astro.props;

const { pathname } = Astro.url;
const isHome = pathname === "/";

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);

const title = propsTitle
  ? propsTitle + (isHome ? "" : ` | ${SITE.title}`)
  : SITE.title;

const isNotesRoute = Astro.url.pathname.startsWith("/notes");
const description =
  propsDescription ??
  (isNotesRoute ? SITE.siteDescriptionFallback : SITE.description);
---

{/* Base */}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />

{/* SEO */}
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={SITE.author.name} />
<link rel="canonical" href={canonicalUrl.href} />
<link rel="sitemap" href="/sitemap-index.xml" />

{/* Open Graph / Facebook */}
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:site_name" content={SITE.title} />
<meta property="og:url" content={canonicalUrl.href} />
{description && <meta property="og:description" content={description} />}

{/* Twitter */}
<meta property="twitter:card" content="summary" />
<meta property="twitter:title" content={title} />
{description && <meta property="twitter:description" content={description} />}

{/* Favicon & Manifest */}
<link rel="shortcut icon" href={faviconUrl} />
<link rel="apple-touch-icon" sizes="180x180" href={faviconAppleTouchUrl.src} />
<link rel="icon" type="image/png" sizes="32x32" href={favicon32Url.src} />
<link rel="icon" type="image/png" sizes="16x16" href={favicon16Url.src} />
<link rel="manifest" href="/site.webmanifest" />
<meta
  name="theme-color"
  content={SITE.color.light}
  media=" (prefers-color-scheme: light)"
/>
<meta
  name="theme-color"
  content={SITE.color.dark}
  media=" (prefers-color-scheme: dark)"
/>
<meta name="msapplication-TileColor" content={SITE.color.light} />

<Font cssVariable="--font-mono" />
<Font cssVariable="--font-body" />

<ClientRouter />
{
  /*
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml" />
     */
}
<script is:inline>
  function setTheme() {
    const root = document.documentElement;
    const theme = (() => {
      const localTheme =
        typeof localStorage !== "undefined" && localStorage.getItem("theme");
      if (localTheme && localTheme !== "system") return localTheme;
      if (window.matchMedia("(prefers-color-scheme: light)").matches)
        return "light";
      return "dark";
    })();
    root.setAttribute("data-theme", theme);
  }
  setTheme();
  document.addEventListener("astro:after-swap", setTheme);
</script>
