---
import {Icon} from 'astro-icon/components';
import {
	getFeaturedNotes,
	getModifiedNotes,
	getPublishedNotes,
	getTopLevelNotes,
} from 'lib/utils/note-filters.ts';
import Button from '~/components/button.astro';
import SectionHeading from '~/components/emphasis/section-heading.astro';
import Layout from '~/components/layout/layout.astro';
import NotesSection from '~/components/note/notes-section.astro';
import '~/styles/index.css';

const featured = await getFeaturedNotes();
const topLevel = await getTopLevelNotes();

const seen = new Set([
	...featured.map(n => n.id),
	...topLevel.map(n => n.id),
]);

const recentModified = await getModifiedNotes({exclude: seen, limit: 10});

const recentPublished = await getPublishedNotes({
	exclude: new Set([...seen, ...recentModified.map(n => n.id)]),
	limit: 6,
});
---

<Layout title='Notes' description="Index for Caleb's digital garden notes">
	<header class='wrapper prose flow-s region'>
		<SectionHeading as='h1' prelabel='00 ⋅ 👋 Introduction'>Notes</SectionHeading>
		<p>Welcome! This "garden" is like a blog, but more fluid!</p>

		<p>I write notes in Obsidian for daily journals and personal knowledge management (PKM) — but I also like to yap about narrative storytelling and sometimes tech stuff, and perhaps you like to listen to yapping...</p>

		<p>So I've exposed some of my notes on this site, especially self-authored content! I'm coming to a MVP, as I refine the exporting script to grab more notes.</p>
	</header>

	<NotesSection
		prelabel='01 ⋅ ⭐ Featured'
		description='Some of my favourite notes to showcase:'
		notes={featured}
	/>

	<NotesSection
		prelabel='02 ⋅ 🪾 Top-Level Notes'
		description='Good entry points for top-down discovery!'
		notes={topLevel}
	/>

	<NotesSection
		prelabel='03 ⋅ 📤 Recently Published'
		description='Polished longform self-authored content.'
		notes={recentPublished}
	>
		<div style={{display: 'inline-flex'}}>
			<Button variant='secondary' as='a' href='/notes/archive/published'>
				View all published notes <Icon name='lucide:arrow-right' />
			</Button>
		</div>
	</NotesSection>

	<NotesSection
		prelabel='04 ⋅ 🥬 Recently Modified'
		description='All notes, sorted by last file edit.'
		notes={recentModified}
		variant='prose'
		showDate='modified'
	>
		<div style={{display: 'inline-flex'}}>
			<Button variant='secondary' as='a' href='/notes/archive/modified'>
				View all notes <Icon name='lucide:arrow-right' />
			</Button>
		</div>
	</NotesSection>

</Layout>

<style>
	header {
		--region-space: var(--space-m);
	}
</style>
