---
import { format } from "date-fns";
import type { Note, NotePage } from "lib/utils/types";

type Props = {
  page: NotePage;
  key?: keyof Note["data"];
};
const { page, key } = Astro.props;

const dateRange = (() => {
  if (!key) return;
  const firstItem = page.data[0];
  const firstDate = firstItem.data[key] as Date;
  const firstDateString = format(firstDate, "yyyy MMM");

  const lastItem = page.data[page.data.length - 1];
  const lastDate = lastItem.data[key] as Date;
  const lastDateString = format(lastDate, "yyyy MMM");

  if (firstDateString === lastDateString) return ` — ${firstDateString}`;

  return ` — ${lastDateString} - ${firstDateString}`;
})();
// const isSingleItem = page.data.length === 1;
---

<p class="pagination-info">
  Page <strong>{page.currentPage}</strong> of <strong>{page.lastPage}</strong> ({
    page.total
  } total) {dateRange && dateRange}
</p>

<style>
  .pagination-info {
    color: var(--text-faded);
    font-size: var(--step--1);
  }
  strong {
    color: var(--text-normal);
  }
</style>
