---
import {Icon} from 'astro-icon/components';
import {SOCIALS} from '~/data/links.ts';

type Props = Omit<typeof SOCIALS['string'], 'userId'>;

const {href, label, icon} = Astro.props;
---

<a href={href} aria-label={label}>
	<Icon name={icon} />
	<span>{label}</span>
</a>

<style>
  span {
    margin-inline-start: calc(var(--icon-size, var(--space-l)) * 0.33);
  }
  /* if in a <p>, then icon is same size as font */
  :global(p) span {
    --icon-size: 1em;
  }
</style>
