---
import { getCollection } from "astro:content";
import WIPDisclaimer from "~/components/block/WIPDisclaimer.astro";
import Base from "~/components/layout/Base.astro";
import Main from "~/components/layout/Main.astro";
import CollectionList from "./_components/CollectionList.astro";
import Metadata from "./_components/metadata/Metadata.astro";
import Toc from "./_components/toc/Toc.astro";
import { getNoteName } from "~/utils/post";

export async function getStaticPaths() {
  const notes = await getCollection("obsidian-note");
  return notes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data } = entry;
const { Content, headings } = await entry.render();

const noteName = getNoteName(entry.id);
const title = data.title ?? noteName;
---

<Base title={title}>
  <Main>
    <WIPDisclaimer />
    <div class="cont-header | cgrid-max">
      <header class="region">
        <h1>{title}</h1>
        <Metadata metadata={data} />
      </header>
    </div>
    <article class="cgrid region prose flow-lg">
      <aside class="toc-aside no-scrollbar">
        <Toc headings={headings} />
      </aside>
      <Content />
      <CollectionList note={entry} />
    </article>
  </Main>
</Base>

<style>
  .cont-header {
    background-color: var(--surface-1b);
  }
  header {
    display: flex;
    gap: var(--space-xs);
    justify-content: space-between;
    flex-wrap: wrap;
  }
  h1 {
    text-wrap: balance;
    word-wrap: normal;
  }

  /* Remove h1 */
  .prose :global(.toc-aside + h1) {
    display: none;
  }
  /* Remove first element's flow space */
  .prose > :global(.toc-aside + h1 + *) {
    --flow-space: 0;
  }

  aside {
    grid-column-start: feature-end;
    grid-column-end: full-end;
    grid-row: 1 / 999; /* 1 / -1 doesn't work here */
    height: min(100%, 100vh);
    position: sticky;
    top: var(--space-2xs);
    padding-inline-start: var(--space-m);
    padding-bottom: var(--space-2xs);
    margin-block-start: calc(-1 * var(--space-2xs));
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 30ch;

    @media (width < 850px) {
      display: none;
    }
  }

  .cgrid {
    @media (width < 1000px) {
      --feature-g: 0;
      --popout-g: 0;
      blockquote {
        grid-column-start: content;
      }
    }
    @media (width < 850px) {
      --wide-g-left: var(--wide-g);
    }
  }
  .prose {
    @media (width >= 1000px), (680px <= width <= 850px) {
      /* h1, */
      h2,
      h3,
      h4,
      h5 {
        display: list-item;
      }

      /* h1::marker, */
      h2::marker,
      h3::marker,
      h4::marker,
      h5::marker {
        color: var(--text-muted);
        font-size: 0.8em;
        font-weight: initial;
      }
      /* h1::marker {
      content: "H1  ";
    } */
      h2::marker {
        content: "H2  ";
      }
      h3::marker {
        content: "H3  ";
      }
      h4::marker {
        content: "H4  ";
      }
    }
  }
</style>
