---
import type { SuperNote } from "lib/utils/types";
import NoteCardMetadata from "./NoteCardMetadata.astro";

type Props =
  | {
      note: SuperNote;
      type?: "note";
    }
  | {
      title: string;
      emoji: string;
      type: "custom";
      subtitle: string;
    };

const props = Astro.props;
---

{
  (!props.type || props.type === "note") && (
    <>
      {props.note.data?.emojip && (
        <h3 class="flow-xs">
          <span class="emoji">{`${props.note.data?.emojip} `}</span>
          <span>{props.note.name}</span>
        </h3>
      )}
      {!props.note.data?.emojip && <h3>{props.note.name}</h3>}
      <NoteCardMetadata data={props.note.data} />
    </>
  )
}
{
  props.type === "custom" && (
    <>
      <h3 class="flow-xs">
        {/* <span class="emoji">{`${props.emoji} `}</span> */}
        <span>{props.title}</span>
      </h3>
      <NoteCardMetadata data={{ description: props.subtitle }} />
    </>
  )
}

<style>
  h3 {
    font-size: var(--step-1);
    font-family: var(--font-heading-sans);
    font-weight: var(--fw-6);
  }
  .metadata {
    display: flex;
    flex-direction: column;
  }
  .emoji {
    opacity: 0.75;
  }

  @container (min-width: 270px) {
    span {
      display: block;
    }
    .emoji {
      font-size: var(--step-2);
    }
  }
</style>
