---
import { getCollection } from "astro:content";
import BaseMain from "~/components/layout/BaseMain.astro";
import AccentA from "~/components/styled/monom/AccentA.astro";
import NoteCard from "~/components/styled/monom/NoteCard.astro";
import TagWIcon from "~/components/styled/polym/TagWIcon.astro";
import { NAV_LINKS } from "~/data/links";
import { getNoteName } from "~/utils/post";
import { Content as GardenIntroContent } from "./_garden-intro.mdx";

const publicNotes = await getCollection("obsidian-note");

const collectionNotes = publicNotes
  .filter((n) => n.data.tags?.includes("📂/collection"))
  .sort((a, b) =>
    (a.data?.collectionItems?.length ?? 0) <
    (b.data?.collectionItems?.length ?? 0)
      ? 1
      : -1
  );
const leafNotes = publicNotes
  .filter((n) => !n.data.tags?.includes("📂/collection"))
  .sort((a, b) => (a.body.length < b.body.length ? 1 : -1));

const icon = NAV_LINKS.GARDEN.icon;
---

<BaseMain title="Digital Garden">
  <article class="linew-wide prose flow-lg">
    <TagWIcon iconName={icon} as="h1">Caleb's Digital Garden</TagWIcon>
    <div class="flow" style={{ maxWidth: "var(--content-w)" }}>
      <GardenIntroContent />
    </div>
    <h2>📂 Collection notes</h2>
    <ul class="collections">
      {
        collectionNotes?.map((n) => (
          <li>
            <a class="note-card" href={`/note/${n.slug}`}>
              <NoteCard>
                <h3>
                  {getNoteName(n.id)}{" "}
                  <span>({n.data.collectionItems?.length})</span>
                </h3>
              </NoteCard>
            </a>
          </li>
        ))
      }
    </ul>
    <h2>🍃 Leaf notes</h2>
    <ul>
      {
        leafNotes?.map((n) => (
          <li>
            <AccentA href={`/note/${n.slug}`}>{getNoteName(n.id)}</AccentA>
            {`(${n.body.length} chars)`}
          </li>
        ))
      }
    </ul>
  </article>
</BaseMain>

<style>
  .collections {
    /* grid-column-end: max-end; */
    display: grid;
    place-content: stretch;
    /* gap: var(--space-s); */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch), 1fr));
    li {
      margin-top: 0;
      * {
        height: 100%;
        width: 100%;
        --color-underline: transparent;
      }
    }
    .note-card h3 {
      font-size: var(--step-2);
      text-wrap: balance;
      margin-top: auto;
    }
  }
</style>
