---
import { getCollection } from "astro:content";
import WIPDisclaimer from "~/components/block/WIPDisclaimer.astro";
import BaseMain from "~/components/layout/BaseMain.astro";
import NoteCard from "~/components/styled/monom/NoteCard.astro";
import BrandA from "~/components/styled/monom/AccentA.astro";
import { getNoteName } from "~/utils/post";

const publicNotes = await getCollection("obsidian-note");

const collectionNotes = publicNotes.filter((n) =>
  n.data.tags?.includes("📂/collection")
);

const leafNotes = publicNotes
  .filter((n) => !n.data.tags?.includes("📂/collection"))
  .sort((a, b) => (a.body.length < b.body.length ? 1 : -1));
---

<BaseMain title="Digital Garden">
  <WIPDisclaimer />
  <section class="linew-wide prose region flow-lg">
    <h1>Digital Garden</h1>
    <h2>Collection notes</h2>
    <ul class="collections">
      {
        collectionNotes?.map((n) => (
          <li>
            <a href={`/note/${n.slug}`}>
              <NoteCard>
                <h3>
                  {getNoteName(n.id)}{" "}
                  <span>({n.data.collectionItems?.length})</span>
                </h3>
              </NoteCard>
            </a>
          </li>
        ))
      }
    </ul>
    <h2>Leaf notes</h2>
    <ul>
      {
        leafNotes?.map((n) => (
          <li>
            <BrandA href={`/note/${n.slug}`}>{getNoteName(n.id)}</BrandA>
            {`(${n.body.length} chars)`}
          </li>
        ))
      }
    </ul>
  </section>
</BaseMain>

<style>
  .collections {
    grid-column-end: max-end;
    display: grid;
    place-content: stretch;
    gap: var(--space-s);
    grid-template-columns: repeat(auto-fill, min(100%, var(--size-header-3)));
    li {
      margin-top: 0;
      * {
        height: 100%;
        width: 100%;
        --color-underline: transparent;
      }
    }
  }
</style>
