---
import IconLink from '~/components/icon-link.astro';
import {SOCIALS} from '~/data/links.ts';
import {NOTE_NAV_LINKS} from '~/data/note-nav.ts';
import {formatDisplayDate} from '~/utils/time.ts';

---

<hr/>
<footer class='wrapper flow'>
	<h2>Chuang Caleb</h2>
	<nav class='cluster'>
		{Object.values(NOTE_NAV_LINKS).map(link =>
			<a href={link.href}>{link.shortLabel}</a>)}
	</nav>
	<div
		class='hero-socials cluster'
		style={{
			'--region-space': 'var(--space-xl)',
			'--cluster-gap-y': 'var(--space-s)',
		}}
	>
		{
			Object.values(SOCIALS).map((link, index) => (
				<>
					<IconLink {...link} label={link.userId ?? link.label} />
					{index !== Object.keys(SOCIALS).length - 1 && (
						<span aria-hidden='true'>⋅</span>
					)}
				</>
			))
		}
	</div>
	<p class='rebuilt'>site rebuilt on  {formatDisplayDate(new Date())}</p>
</footer>

<style>

  footer {
    padding-block: var(--space-l);
    color: var(--text-muted);
	}
  .rebuilt {
    font-size: var(--text-caption);
  }

</style>
