---
import BaseMain from "~/components/layout/BaseMain.astro";
import NoteHeader from "./components/NoteHeader.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseMain
  title={title}
  description={description}
  class="flow-xl"
  data-pagefind-body
>
  <slot slot="head" name="head" />
  <slot slot="sheetBody" name="sheetBody" />

  <div class="header-section | cgrid flow-sm">
    <slot name="header">
      <NoteHeader title={title} />
    </slot>
  </div>

  <article class="cgrid prose flow-lg">
    <slot />
  </article>
</BaseMain>

<style>
  .header-section {
    background-color: var(--bg2);
    padding-block-start: var(--space-2xl);
    padding-block-end: var(--space-3xl);
  }
</style>

{
  /*  <aside class="flow-lg">
      <Metadata metadata={metadata} />
      <div class="aside-sticky | flow">
        <slot name="sidebar" />
        <TocScrollspy headings={headings} />
      </div>
    </aside>
 <style>
  aside {
    padding-inline: var(--space-m);
    padding-bottom: var(--space-2xs);
    position: relative;
    grid-column: 2;
    grid-row: 2;
  }
  .aside-sticky {
    position: sticky;
    top: var(--space-xs);
    max-height: 98vh;
    height: min(min-content, 100vh);
    width: 100%;
    overflow-x: hidden;
  }
  @media (width < 900px) {
    .note-body {
      grid-template-columns: 1fr;
    }
    aside {
      display: none;
    }
  }
</style>
*/
}
