---
import type { MarkdownHeading } from "astro";
import Banner from "~/components/block/Banner.astro";
import Breadcrumbs from "~/components/block/Breadcrumbs.astro";
import BaseMain from "~/components/layout/BaseMain.astro";
import CollectionList from "./components/CollectionList.astro";
import type { MetadataProps } from "./components/metadata/Metadata.astro";
import Metadata from "./components/metadata/Metadata.astro";
import Toc from "./components/toc/Toc.astro";

interface Props {
  title: string;
  headings?: MarkdownHeading[];
  metadata?: MetadataProps;
}

const { title, headings = [], metadata = {} } = Astro.props;

// collection
const { collectionItems, series: isOrdered = false } = metadata;
const isCollection = !!collectionItems?.length;
const collectionData = isCollection && { isOrdered, items: collectionItems };
---

<BaseMain title={title}>
  <Fragment slot="sheetBody">
    <Metadata metadata={metadata} />
    <Toc headings={headings} />
  </Fragment>
  <article class="note-body">
    <aside class="flow">
      <Metadata metadata={metadata} />
      <div class="aside-sticky flow no-scrollbar">
        <Toc headings={headings} />
      </div>
    </aside>
    <div class="article-main full cgrid prose flow-lg region">
      <Breadcrumbs step={-1} />
      <slot />
      {collectionData && <CollectionList {...collectionData} />}
    </div>
  </article>
</BaseMain>

<style>
  .prose :global(:is(h1):first-of-type) {
    --flow-space: var(--size-relative-1);
    grid-column-end: feature;
  }
  .prose :global(h1 + *) {
    --flow-space: var(--size-relative-6);
  }

  .note-body {
    display: grid;
    grid-template-columns: 1fr 26vw;
  }

  aside {
    padding-inline: var(--space-m);
    padding-bottom: var(--space-2xs);
    margin-block-start: var(--space-m);
  }
  .aside-sticky {
    position: sticky;
    top: var(--space-xs);
    height: min(100%, 100vh);
    width: 100%;
    overflow-x: hidden;
    padding-block-end: var(--space-l);
  }
  @media (width < 900px) {
    .note-body {
      grid-template-columns: 1fr;
    }
    aside {
      display: none;
    }
  }
  .article-main {
    grid-row-start: 1;
    grid-column: 1;
    padding-block-start: var(--space-m);

    --size-header-1: 100%;
    --size-header-2: 100%;
    --size-header-3: 100%;

    @media (width >= 1000px), (680px <= width <= 900px) {
      h1,
      h2,
      h3,
      h4,
      h5 {
        display: list-item;
      }

      h1::marker,
      h2::marker,
      h3::marker,
      h4::marker,
      h5::marker {
        color: var(--text-muted);
        font-size: 0.8em;
        font-weight: initial;
      }
      h1::marker {
        content: "H1  ";
      }
      h2::marker {
        content: "H2  ";
      }
      h3::marker {
        content: "H3  ";
      }
      h4::marker {
        content: "H4  ";
      }
    }
  }
</style>
