---
import { render } from "astro:content";
import type { SuperNotes } from "lib/utils/types";
import AccentA from "~/components/styled/monom/AccentA.astro";
import { getNoteEntries } from "~/utils/note";
import NoteLayout from "./NoteLayout.astro";
import NoteHeader from "./components/NoteHeader.astro";
import Pill from "~/components/block/Pill.astro";
import MetadataContainer from "./components/MetadataContainer.astro";

interface Props {
  entry: SuperNotes[number];
}

const { entry } = Astro.props;

const { Content, headings } = await render(entry);

// title
const cs = await getNoteEntries(entry.data.collection);
const title = `${entry.data.emojip ? entry.data.emojip + " " : ""} ${entry.name}`;
---

<NoteLayout title={entry.name} headings={headings} metadata={entry.data}>
  <slot slot="header">
    <NoteHeader title={title} description={entry.data.description}>
      <div class="metadata | content">
        <div class="parents">
          {
            !!cs.length ? (
              <MetadataContainer prefix="↑">
                {cs.map((c, index) => (
                  <>
                    {index > 0 && "•"}
                    <AccentA href={c.route}>
                      {`${c.data.emojip} ${c.name}`}
                    </AccentA>
                  </>
                ))}
              </MetadataContainer>
            ) : (
              <MetadataContainer prefix="↑">
                <AccentA href="/garden">🪴 Garden Root</AccentA>
              </MetadataContainer>
            )
          }
        </div>
        {
          entry.data.published && (
            <span>
              Published on <Pill key="published" value={entry.data.published} />
            </span>
          )
        }
      </div>
    </NoteHeader>
  </slot>
  <Content />
  <slot slot="sidebar" name="sidebar" />
</NoteLayout>

<style>
  .metadata {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }
  .parents {
    display: flex;
    gap: var(--space-m);
  }
  span {
    color: var(--text-faded);
  }
</style>
