---
import { render } from "astro:content";
import type { SuperNotes } from "lib/utils/types";
import AccentA from "~/components/styled/monom/AccentA.astro";
import { getNoteEntries } from "~/utils/note";
import NoteLayout from "./NoteLayout.astro";

interface Props {
  entry: SuperNotes[number];
}

const { entry } = Astro.props;

const { Content, headings } = await render(entry);

// title
const cs = await getNoteEntries(entry.data.collection);
---

<NoteLayout title={entry.name} headings={headings} metadata={entry.data}>
  <header class="full flow-xl">
    <h1>{entry.name}</h1>
    <div class="breadcrumb content">
      {
        !!cs.length ? (
          cs.map((c) => (
            <AccentA href={c.route}>{`${c.data.emojip} ${c.name}`}</AccentA>
          ))
        ) : (
          <AccentA href="/garden">← 🪴 Garden Root</AccentA>
        )
      }
    </div>
  </header>

  <Content />
  <slot slot="sidebar" name="sidebar" />
</NoteLayout>

<style>
  header {
    background-color: var(--bg2);
    display: grid;
    grid-template-columns: subgrid;
    padding-block: var(--space-2xl);
    * {
      grid-column: content;
    }
  }
  .breadcrumb {
    display: flex;
    gap: var(--space-m);
  }
</style>
