---
import { render } from "astro:content";
import type { SuperNote } from "lib/utils/types";
import Alert from "~/components/block/Alert.astro";
import Duration from "~/components/block/Duration.astro";
import FurtherResources from "~/components/block/FurtherResources.astro";
import Pill from "~/components/block/note/Pill.astro";
import { termsRoute } from "~/data/special-routes";
import { metaMinDays } from "~/utils/note-meta";
import { formatNoteRelations } from "~/utils/note-relations";
import { getWordCountPill } from "~/utils/pill-variants";
import { isWithinDuration } from "~/utils/time";
import Metadata from "./components/metadata/AsideMetadata.astro";
import MetadataValueItem from "./components/metadata/MetadataValueItem.astro";
import MetadataContainer from "./components/MetadataContainer.astro";
import NoteHeader from "./components/NoteHeader.astro";
import NoteRelationsSection from "./components/NoteRelationsSection.astro";
import TermsToggle from "./components/TermsToggle.astro";
import Toc from "./components/toc/Toc.astro";
import NoteLayout from "./NoteLayout.astro";
import TermsAlert from "./components/TermsAlert.astro";

interface Props {
  entry: SuperNote;
}

const { entry } = Astro.props;

const { Content, headings } = await render(entry);
const metadata = entry.data;

// title
const title = `${metadata.emojip ? metadata.emojip + " " : ""} ${entry.name}`;

// description
const { description } = metadata;

const formattedRelations = await formatNoteRelations(metadata);

const pagefindWeight = !!metadata.emojip ? 10 : 8;
---

<NoteLayout
  title={entry.name}
  description={description}
  noBottomPadding={!!formattedRelations}
>
  <slot slot="header">
    <NoteHeader
      title={title}
      description={description}
      pagefindWeight={pagefindWeight}
    >
      <slot slot="super">
        <hr />
        <div class="epistemic | flex-row wrap text-faded">
          {
            metadata.words > 15 && (
              <>
                <span class="flex-row f-gap-2xs ws-nowrap">
                  <Pill {...getWordCountPill(metadata.words)} />
                  <span>
                    {metadata.words}
                    {" words"}
                  </span>
                </span>
                <span aria-hidden>{" • "}</span>
              </>
            )
          }
          {
            metadata.published && (
              <span class="flex-row f-gap-2xs ws-nowrap">
                {isWithinDuration(
                  metadata.published,
                  metaMinDays.newPublished,
                ) && <Pill variant="new" />}
                <span class="published">
                  <div class="sr-only">published on </div>
                  <MetadataValueItem value={metadata.published} />
                </span>
                <span aria-hidden>{" • "}</span>
              </span>
            )
          }
          {
            metadata.modified && (
              <span class="flex-row f-gap-2xs ws-nowrap">
                {isWithinDuration(
                  metadata.modified,
                  metaMinDays.freshModified,
                ) && <Pill variant="fresh" />}
                <span class="modified">
                  last modified
                  <Duration date={metadata.modified} variant="long" /> ago
                </span>
              </span>
            )
          }
        </div>
      </slot>
      {
        !!metadata.up?.length && (
          <div class="content text-faded flow-lg">
            <MetadataContainer
              references={metadata.up}
              prefix="↑"
              ariaLabel="Parent notes"
            />
          </div>
        )
      }
      <slot slot="footer">
        {metadata.fyi && <Alert variant="fyi">{metadata.fyi}</Alert>}
        {metadata.status && <Alert variant={metadata.status} />}
        <TermsAlert />
      </slot>
    </NoteHeader>
  </slot>

  <Content />

  {Astro.url.pathname === termsRoute && <TermsToggle />}

  {metadata.resources && <FurtherResources resources={metadata.resources} />}

  {
    formattedRelations && (
      <>
        <div class="relations-cont | full region">
          <NoteRelationsSection formattedRelations={formattedRelations} />
        </div>
        <div class="footer-block | full" aria-hidden />
      </>
    )
  }

  <Fragment slot="sheetBody">
    <h3>{title}</h3>
    <Metadata metadata={metadata} />
    <slot name="sidebar" />
    <Toc headings={headings} />
  </Fragment>
</NoteLayout>

<style>
  h3 {
    font-family: var(--font-heading-sans);
  }

  .relations-cont {
    --flow-space: var(--space-3xl);
    background-color: var(--bg2);
    @media (width >= 800px) {
      grid-column: wide;
      border-radius: var(--radius-2);
      border-width: 1px;
    }
  }
  .footer-block {
    --flow-space: 0;
    z-index: -1;
    margin-top: calc(10rem * -1);
    height: 10rem;
    background-color: var(--bg2);
    @media (width < 800px) {
      display: none;
    }
  }

  .published {
    font-weight: var(--fw-7);
  }
  .modified {
    font-style: italic;
  }

  .epistemic {
    font-size: var(--step--1);
    row-gap: var(--size-ch-2);
  }
  hr {
    border-color: var(--ui1);
  }

  :global([data-footnote-ref]),
  :global([data-footnote-backref]) {
    text-decoration: none;
  }
</style>
