---
import { render } from "astro:content";
import type { SuperNotes } from "lib/utils/types";
import FurtherResources from "~/components/block/FurtherResources.astro";
import Pill from "~/components/block/Pill.astro";
import NoteList from "~/components/layout/NoteList.astro";
import AccentA from "~/components/styled/monom/AccentA.astro";
import { getNoteEntries, getNoteEntry } from "~/utils/note";
import Metadata from "./components/metadata/Metadata.astro";
import MetadataContainer from "./components/MetadataContainer.astro";
import NoteHeader from "./components/NoteHeader.astro";
import Toc from "./components/toc/Toc.astro";
import NoteLayout from "./NoteLayout.astro";

interface Props {
  entry: SuperNotes[number];
}

const { entry } = Astro.props;

const { Content, headings } = await render(entry);

// title
const parentCollections = [...(entry.data.collection ?? [])];
const parentCollectionData = await getNoteEntries(parentCollections);
const title = `${entry.data.emojip ? entry.data.emojip + " " : ""} ${entry.name}`;

// collection children
const { collectionItems, series, description } = entry.data;
const isCollection = !!collectionItems?.length;
const collectionData = isCollection && {
  isOrdered: !!series,
  items: series ?? collectionItems,
};

// collection parents
const seriesesData = parentCollectionData.filter((note) => !!note.data.series);
---

<NoteLayout title={entry.name} description={description}>
  <slot slot="header">
    <NoteHeader title={title} description={entry.data.description}>
      <div class="metadata | content">
        <div class="parents">
          {
            !!parentCollectionData.length ? (
              <MetadataContainer prefix="↑">
                {parentCollectionData.map((c, index) => (
                  <>
                    {index > 0 && "•"}
                    <AccentA href={c.route}>
                      {`${c.data.emojip} ${c.name}`}
                    </AccentA>
                  </>
                ))}
              </MetadataContainer>
            ) : (
              <MetadataContainer prefix="↑">
                <AccentA href="/garden">🪴 Garden Root</AccentA>
              </MetadataContainer>
            )
          }
        </div>
        {
          entry.data.published && (
            <span>
              Published on <Pill key="published" value={entry.data.published} />
            </span>
          )
        }
      </div>
    </NoteHeader>
  </slot>
  <Content />
  {
    entry.data.resources && (
      <FurtherResources resources={entry.data.resources} />
    )
  }
  {
    collectionData && (
      <>
        <h2 class="sr-only">Notes belonging to this collection</h2>
        <NoteList class="popout" {...collectionData} variant="card" />
      </>
    )
  }
  {
    seriesesData.map((series, index) => (
      <>
        <hr />
        <h2>
          {parentCollectionData[index].data.emojip}{" "}
          {parentCollectionData[index].name}
        </h2>
        <p>
          ↑{" "}
          <AccentA href={parentCollectionData[index].route}>
            {parentCollectionData[index].name}
          </AccentA>
        </p>
        <NoteList items={series.data.series} isOrdered />
      </>
    ))
  }
  <Fragment slot="sheetBody">
    <h3>{title}</h3>
    <Metadata metadata={entry.data} />
    <slot name="sidebar" />
    <Toc headings={headings} />
  </Fragment>
</NoteLayout>

<style>
  .metadata {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }
  .parents {
    display: flex;
    gap: var(--space-m);
  }
  span {
    color: var(--text-faded);
  }
</style>
