---
import { render } from "astro:content";
import type { SuperNotes } from "lib/utils/types";
import AccentA from "~/components/styled/monom/AccentA.astro";
import { getNoteEntries } from "~/utils/note";
import NoteLayout from "./NoteLayout.astro";

interface Props {
  entry: SuperNotes[number];
}

const { entry } = Astro.props;

const { Content, headings } = await render(entry);

// title
const cs = await getNoteEntries(entry.data.collection);
---

<NoteLayout title={entry.name} headings={headings} metadata={entry.data}>
  {
    !!cs.length ? (
      <div class="collections content">
        {cs.map((c) => (
          <AccentA href={c.route}>{`${c.data.emojip} ${c.name}`}</AccentA>
        ))}
      </div>
    ) : (
      <AccentA href="/garden">🪴 Back to Garden</AccentA>
    )
  }
  <Content />
  <slot slot="sidebar" name="sidebar" />
</NoteLayout>

<style>
  .collections {
    display: flex;
    gap: var(--space-m);
  }
</style>
